account_id = "b0d7b9f87b57470ef508f1a511093cae"
name = "rdapcloud-dev"
route = "dev.rdap.cloud/*"
main = "src/index.ts"
compatibility_date = "2026-02-01"
compatibility_flags = ["nodejs_compat"]
kv_namespaces = [
  { binding = "KV", id = "11bf567208e64657a11fdeb150d2b8b9" }
]

[triggers]
crons = ["*/5 * * * *", "0 3 * * *"]

[vars]
TTL = 180
BOOTSTRAP_TTL = 86400
RATE_LIMIT = 60
RATE_LIMIT_WINDOW = 60

[assets]
directory = "assets"

[placement]
mode = "smart"

[[durable_objects.bindings]]
name = "RATE_LIMITER"
class_name = "RateLimiter"

[[migrations]]
tag = "v1"
new_classes = ["RateLimiter"]

# Observability
[observability]
enabled = true

[env.staging]
name = "rdapcloud-staging"
route = "staging.rdap.cloud/*"
kv_namespaces = [
  { binding = "KV", id = "11bf567208e64657a11fdeb150d2b8b9" }
]
durable_objects = { bindings = [{ name = "RATE_LIMITER", class_name = "RateLimiter" }] }

[env.staging.vars]
TTL = 180
BOOTSTRAP_TTL = 86400
RATE_LIMIT = 60
RATE_LIMIT_WINDOW = 60


[env.prod]
name = "rdapcloud-prod"
route = "rdap.cloud/*"
kv_namespaces = [
  { binding = "KV", id = "11bf567208e64657a11fdeb150d2b8b9" }
]
durable_objects = { bindings = [{ name = "RATE_LIMITER", class_name = "RateLimiter" }] }

[env.prod.vars]
TTL = 604800
BOOTSTRAP_TTL = 86400
RATE_LIMIT = 240
RATE_LIMIT_WINDOW = 60
