name: publish-dev
on:
  workflow_dispatch:
  repository_dispatch:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubicloud
    name: Deploy
    steps:
      - uses: actions/checkout@v6
      - name: Setup nodejs
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Publish to Cloudflare
        uses: cloudflare/wrangler-action@2.0.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}